/*页面导航*/
.breadcrumb
{
    font-size:30px;
    border-bottom: solid 1px #ccc;
    padding:25px 24px;
    background-color: transparent;
border-radius: 0;
}
.breadcrumb>li>a
{
    color:#777;
}
.breadcrumb>li+li:before
{
    content: ">";
}

