.header
{
    background-color:#fff;
}

.header-top
{
    padding-top:24px;
    padding-bottom:24px;
    vertical-align: middle;

}

.header-top .logintext
{
    vertical-align: middle;
    display:inline-block;
    float: right;
    font-size:36px;
}
.header-nav .container
{
    padding:0;
}
.header-nav a
{
    display:inline-block;
    padding:28px 0;
}
.header-nav a.header-nav-active
{
    padding-bottom:26px;
    border-bottom:solid 2px red;
    color:red;

}
.header-nav .col-xs-4
{
    padding-left:24px;
    padding-right:24px;
}

.header-nav
{
    border-top: solid 1px #acacac;
    font-size:34px;
    background-color: #fafafa;



}
.logintext
{

}