.header
{ background-color:#fff;



}
.header-top
{

}
.header-top .logo
{

}
.header-top .logintext
{vertical-align: middle;display: block;float: right;}
.header-nav
{
    border-top: solid 1px #acacac;

    margin: 0;

    background-color: #fafafa;
    width: 100%;
}
.logintext
{

}