.header
{
    background-color:#fff;
}

.header-top
{
    padding-top:24px;
    padding-bottom:24px;
    vertical-align: middle;

}

.header-top .logintext
{
    vertical-align: middle;
    display:inline-block;
    float: right;
    font-size:36px;
}

.header-nav
{
    border-bottom:solid 1px #dcdcdc;
    border-top: solid 1px #acacac;
    font-size:34px;
    background-color: #fafafa;

}
.header-nav.header-nav-home
{
    border-bottom: 0;
}
.header-nav .container
{
    padding:0;
}

.header-nav a
{
    display:inline-block;
    padding:24px 0;
}
.header-nav a.header-nav-active
{

    padding-top:23px;
    padding-bottom:22px;
    border-bottom:solid 3px #e73828;
    color: #e73828;
    position:relative;
    top:1px;


}

.header-nav .col-xs-4
{
    padding-left:24px;
    padding-right:24px;
}

