

#sidebar {
    position: fixed;
    top:60vmin;
    right:8vmin;
    z-index:1031;

}
#sidebar div{
    background-color:#fff;
    width:5vmin;
    height:5vmin;
    margin:0.5vmin;
    border:solid 1px #ddd;

}