

#sidebar {
    position: fixed;
    top:460px;
    right:0;
    z-index:1031;
 font-size:26px;


}
#sidebar a,#sidebar a:visited,#sidebar a:hover
{
    color:#fff;
}
#sidebar>div{
    background-color:#68bcff;
    opacity: 0.9;
    width:99px;
    height:99px;
    margin-top:10px;
    border:solid 1px #ddd;
    padding:16px 0;

}
#sidebar>div:last-child
{
    background-color: #fff;
    border:solid 2px #ccc;
    padding-top:24px;
    display: none;
}