body{

    font-family: "PingFang SC Light","Arial" ,"微软雅黑 Light";
    text-align: center;

    padding-top:102px;
}
.header{
    background-color: #e73828;
    padding:0 24px;

}
.header span img {
    padding: 35px 0;
}
.header span:first-child img{

    float: left;
}
.header span:last-child img{
    float: right;
    padding:20px 30px 20px 0;

}

.header .title
{
    font-size:39px;
    color: #fff;
    display:inline-block;
    line-height: 102px;
}
form
{
    font-size: 30px;
    margin: 60px 60px 30px 60px;
    color:#b4b4b4;
}
form .form-control
{
    font-size:30px;
}
/*每一行的样式*/
form .input-group
{
    margin:0 auto;
    width:538px;
    font-weight:300;
    margin-bottom:28px;
}
/*一行只有文本输入框*/
form .input-plain
{
    border-radius: 6px;
    border: solid 2px #ccc;
    line-height: 90px;

    padding-left: 20px;
    height:90px;
    width:538px;
}
/*一addon的样式*/
form .input-group .input-group-addon
{
    width:90px;
    background-color:transparent;
    border: solid 2px #ccc;
    border-right:0;
}
/*带addon的文本框的样式*/
form .input-with-icon
{
    height: 90px;
    border: solid 2px #ccc;
}
/*后缀的样式*/
form .input-with-suffix
{

}
form .input-group .input-suffix
{
    border-left:0;
    border-right:solid 2px #ccc;
    width:240px;
}
form .input-with-suffix-group
{
    border-radius: 6px;
    text-align: center;
    width:514px;
    margin:0 auto;
    margin-bottom:28px;

}
form button.input-with-suffix-button
{
    width:150px;
    background-color:#ddd;
    color:white;

}
form button,
form input[type=submit],
form input.set_username_success,
    form a.button
{
    border-radius: 6px;
    background-color: #e73828;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 38px;
    margin-top:30px;
    padding: 21px;
    width:538px;
    margin-bottom:25px;
    display: inline-block;
}
form .btn-displaypw
{
    position: absolute;
    background: none;
    border: 0;
    margin-left:-2%;
    line-height: 88px;
    color: #333;
}
.remember label {
    font-weight: normal;
    font-size: 32px;
    color: #333;
}
.remember label span {
    position: relative;
    top: -4px;
}
.modal-content {
    border-radius: 0;
    border: solid 12px #ebebeb;
    margin: 14px;
}