.header{
    background-color: #e73828;
}
.header .title
{
    font-size:39px;
    color: #fff;
    padding: 24px 0;
}
.loginform
{
    padding: 0 106px;
}
.input-group
{
    height: 90px;
    margin-bottom: 28px;
}
.input-group-addon {
    background-color: #fff;
}
#exampleInputAmount {
    font-size: 30px;
    padding: 44px 18px;
    color: #b7b7b7;
}
span.glyphicon.glyphicon-user
{
    padding: 0 22px;
}
span.glyphicon.glyphicon-folder-close
{
    padding: 0 22px;
}
.checkbox {
    font-size: 32px;
    margin: 35px 0;
}
input.login {
    font-size: 38px;
    background-color: #e73828;
    color: #fff;
    padding: 21px 0;
    width: 538px;
    border-radius: 6px;
    border: none;
}
.zcmm {
    font-size: 30px;
    text-align: center;
    margin: 24px 0;
}
.zcmm a {
    margin: 0 10px;
}