.barimg2
{
    margin: 1.33vw;
}
.barimg2 img
{
    width:100%;
}
.barimg4
{
    margin-top: 1.33vw;
}
.tabbable
{
    font-size:1.3em;
}
.tabbable>ul.nav.nav-tabs>li.active
{

    border-top:solid 3px red;
    padding-top:2px;
    border-left:solid 1px #eee;
    border-right:solid 1px #eee;
    border-bottom:0;
}
.tabbable>ul.nav.nav-tabs>li
{

    border-bottom:solid 1px #eee;
}
.tabbable>ul.nav.nav-tabs>li.active>a
{color:#E83928;
    border:0;
}
.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    border:0;

}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}
.take-all-space-you-can{
    width:100%;
}
.tab-pane label
{
    font-size:1.6em;
}
.tab-pane ul
{
    margin-top:1em;
}
.tab-pane ul li
{

}

.zxbt{
    border-top:solid 1px #dfdfdf;
    padding: 2vw 0 2vw 3.2vw;
    font-size:4.9vw;
}
.zxbt img{
    margin-right: 1vw;
}

.more{
    float: right;
}