
.barimg2
{
margin:10px;
}

.barimg2-left
{
    float:left;
margin-right:10px;
}

.barimg2-right
{

}
.barimg2 img
{

}
.barimg4
{
margin-top:10px;
}
.tabbable
{
    padding:0 24px;
}
.tabbable>ul.nav.nav-tabs>li.active
{

    border-top:solid 3px #e73828;
    border-left:solid 1px #eee;
    border-right:solid 1px #eee;
    border-bottom:0;
}
.tabbable>ul.nav.nav-tabs>li
{

    border-bottom:solid 1px #eee;
    padding:10px 0;
    font-size:32px;
}
.tabbable>ul.nav.nav-tabs>li.active>a
{color:#e73828;
    border:0;
}

.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    border:0;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}
.take-all-space-you-can{
    width:100%;
}
.tabbable .tab-content
{
    padding-top:20px;
}
.tab-pane label
{

    line-height: normal;
}
.tab-pane ul
{

    list-style-type: none;
    padding:18px 0;;
    line-height: 52px;

}
.tab-pane ul li
{
    font-size: 28px;
}
.tab-pane ul li span
{
    float: right;
    font-size: 24px;
    color: #a0a0a0;

}
.zxbt{

    margin-top:10px;
    padding:25px 24px;
    border-top:solid 1px #dfdfdf;


}

.zxbt img{


     position:relative;
    top:-8px;
    margin-right:20px;
}

.zxbt> .zxbt-head
{
    font-size: 36px;
}

.zxbt-more{
    background:url(../../../content/images/arrow_right.png) center right no-repeat;
    float: right;
    font-size:26px;
    padding-right:28px;
    color: #888;

}
.zxbt-content
{
    vertical-align: middle;
    font-size:36px;
    width:472px;
}
.zxbt-content span.zxbt-title
{
    display:block;
    line-height:1.3;
}
.zxbt-content img
{
    float:right;
}
.zxbt-content span.zxbt-detail{

    display:inline-block;
    line-height:57px;
    width:180px;
    height:57px;
    background: url(../../../content/images/home_cszx_bt.png) top left no-repeat;
    float:right;
    font-size:26px;
    vertical-align: middle;
    color:#fff;
}
.zxbt-content span.zxbt-detail>span
{
    display:inline-block;
    padding-right:28px;
    background: url(../../../content/images/arrow_right_w.png) center right no-repeat;

}
.zxbt-content
{
    float:right;
}


.banmian a
{
    display: inline-block;
    background-position:  top left
;height: 60px ;width:135px;
    line-height: 60px;
    font-size: 30px;
    color: #fff;
}
.banmian {
    padding: 83px 0 44px 0;
}
.banmian a:first-child
{
  background-image: url("../../../content/images/foot_web.png");
}
.banmian a:last-child
{
    background-image: url("../../../content/images/foot_wechat.png");
}
.footer a
{
    font-size: 24px;
    color: #adadad;
    padding: 0 28px;
}
.copy
{
    font-size: 24px;
    color: #adadad;
}
.footer {
    padding-bottom: 20px;
}
/*弹出窗口*/
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    margin-top:400px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 80%;
}
.modal-content {

   color:#33495d;


}
.modal-content h2
{
    font-size: 39px;
    margin:0;
    color:#fff;
    background-color:#33495d;
    padding:59px 0;
}
.modal-content h3
{
    font-size:36px;
    font-weight:600;
    margin-bottom:20px;
}
.modal-detail
{
    padding:20px 28px 140px 40px;
}
.modal-content .modal_left
{
    font-size: 36px;
    float:left;
   width: 50%;
}
.modal-content .modal_left>div
{
    margin:10px 0;
}
.modal-content .modal_right
{
    float:right;
    width:50%;
    padding-top:45px;
}
.modal-content .modal_right img
{

}
.modal-content .modal_ok
{
    position:absolute;

    margin:auto;

    left:0;
    right:0;
    bottom:-60px;

}