

  .user_icon
{
    background:url(../../images/user_icon.png) 50% 50% no-repeat;

}
  .password_icon
{
    background:url(../../images/password_icon.png) 50% 50% no-repeat;


}
  .remember
  {
      text-align: left;
      margin-left:46px;
  }
  form .remember input
  {
      width:30px;
      height:30px;
  }