form .input-group .input-checkcode
{
    width: 282px;
}
form .input-group .validatecode
{
    width:157px;
}
form .btn-checkcode
{
    height:86px;
    font-size:26px;
     border:0;
    border-radius: 6px;
    margin-left:20px;
    padding:0 15px;
    background-color: #adadad;
    color:white;
}
form .input-password
{

}
form .btn-displaypw
{
    position:absolute;
    top:15px;
    background:none;
    border:0;
    margin-left:10px;
}
.zcmm
{
    font-size:26px;
}
.user_icon
{
    background:url(../../images/user_icon.png) 50% 50% no-repeat;

}
#regsucmodal .modal-content
{
    margin-top:400px;
}
.modal-content h2
{
    font-size:44px;
    margin:40px 0;
}
#saved
{
    margin:0 130px;
    padding:20px;
    position:absolute;
    left:0;right:0;top:450px;
    color:#fff;
    font-size:32px;
    background-color:#000;
    opacity:0.4;
    display:none; z-index:1090;
}
