@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 992px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
}
@media all and (max-width: 768px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
}
.glyphicon-big
{
    width:60px;
    height:60px;
}
.glyphicon-member-zhgl
{
    background-image: url(../images/member/zhgl_icon.png);
}
