.bottom
{
    text-align: center;

}
.bottom ul
{
    float: left;
    list-style-type: none;
}

.bottom a,.bottom span
{
    display: block;
    font-size: 26px;
    color: #666;
}
.bottom a img
{

}
.bottom .hd img
{

}
.bottom .bottom-nav
{

    padding: 0.25em 0;
    border-top:solid 1px #acacac;
    margin:0;
    font-size:1.3em;
    background-color: #f2f2f2;
    width:100%;
}
.bottom .bottom-nav .bottom-nav-right,
.bottom .bottom-nav .bottom-nav-left
{
    padding-top:10px;

}