.header
{
    padding-top:1em;
    padding-right:1em;
}
.header-top
{
    padding-bottom: 1em;
}
.header-nav
{
 border-top:solid 1px #dcdcdc;
    padding:1em 0;
    font-size:1.6em;
}
.logintext
{
    font-size:1.6em;
}